.display {
    border: 1px rgb(52, 40, 40) solid;
    background-color: rgba(143, 100, 203, 0.351);
    max-width: 100%;
    display: flex;
    text-align: right;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    margin: auto;
    margin-right: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}